<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <style>
    #divv{
        background-color: antiquewhite;
    }
   </style>
</head>
<body>
    <div class="container-fluid" >
  <div class="row align-items-start">
    <div class="col-sm-12">
      <h2>ATN Shop</h2>
      <ul class="nav nav-pills " id="divv">
        <li class=""><a href="/">Home</a></li>
        <li><a href="/all">All Products</a></li>
        <li><a href="/new">New Product</a></li>
      </ul><br>
      <img src="/images/toys.jfif" width="1000" height="600" alt="">
    </div>
    
    
    <div class="col-sm-9">

    </div>
    </div>
    </div>
</body>
</html>